<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      html,
      body {
        height: 100%;
        /* Ensure that the container can become full height */
      }
    </style>
  </head>

  <body>
    <div class="container h-100">
      <div class="row justify-content-center align-items-center" style="height:100%;">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center bg-dark text-white">Login</div>
            <div class="card-body">
              <form action="{% url 'login' %}" method="post" id="form1">
                {% csrf_token %}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="form-group">
                  <label for="id_username">Email</label>
                  <input type="text" name="username" id="id_username" class="form-control" placeholder="Enter Email" autofocus />
                  {% for error in form.username.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="form-group">
                  <label for="id_password">Password</label>
                  <input type="password" name="password" id="id_password" class="form-control" placeholder="Enter password" autocomplete="off" />
                  {% for error in form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary" style="background-color: black; border-color: black; color: white;">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
